[package]
name = "gateway-api"
version = "0.1.3"
description = "Kubernetes Gateway API bindings in Rust"
authors = ["Shane Utt <shaneutt@linux.com>"]
license = "MIT"
keywords = ["kubernetes", "gateway-api"]
categories = ["api-bindings"]
homepage = "https://gateway-api.sigs.k8s.io/"
repository = "https://github.com/kube-rs/gateway-api-rs"
edition = "2021"

[dependencies]
kube = { version = "^0.76.0", default-features = false, features = ["derive"] }
k8s-openapi = { version = "0.16.0" }
schemars = "0.8.6"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
serde_yaml = "0.9.17"

[dev-dependencies]
anyhow = "1.0.66"
hyper = "0.14.23"
kube = { version = "^0.76.0" }
k8s-openapi = { version = "0.16.0" , features = ["v1_25"] }
tokio = { version = "1.23.0", features = ["macros"] }
tower = "0.4.13"
uuid = { version = "1.1.2", features = ["v4", "fast-rng"] }
