[workspace]
members = ["gateway-api", "gateway-api/examples", "xtask"]
resolver = "2"

[workspace.package]
authors = ["Shane Utt <shaneutt@linux.com>"]
edition = "2021"
license = "MIT"
version = "0.14.0"

[workspace.dependencies]
anyhow = "1.0.90"
delegate = "0.13.1"
hyper-util = "0.1.9"
kube = { version = "0.96.0", default-features = false, features = ["derive"] }
k8s-openapi = { version = "0.23.0", features = [ "schemars" ] }
once_cell = "1.20.2"
regex = { package = "regex-lite", version = "0.1.6" }
schemars = "0.8.21"
serde_json = "1.0.131"
serde = { version = "1.0.210", features = ["derive"] }
serde_yaml = "0.9.34"
tokio = { version = "1.40.0", features = ["full"] }
tower = { version = "0.5.1", features = ["limit"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.17"
uuid = { version = "1.11.0", features = ["v4", "fast-rng"] }
