[workspace]
members = ["gateway-api", "gateway-api/examples", "xtask"]
resolver = "2"

[workspace.package]
authors = ["Shane Utt <shaneutt@linux.com>"]
edition = "2024"
license = "MIT"
version = "0.16.0"

[workspace.dependencies]
anyhow = "1.0.100"
delegate = "0.13.4"
hyper-util = "0.1.17"
kube = { version = "2.0.1" }
k8s-openapi = { version = "0.26.0" }
once_cell = "1.21.3"
regex = { package = "regex-lite", version = "0.1.8" }
schemars = "1.0.4"
serde_json = "1.0.145"
serde = { version = "1.0.228", features = ["derive"] }
serde_yaml = "0.9.34"
tokio = { version = "1.48.0", features = ["full"] }
tower = { version = "0.5.2", features = ["limit"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
uuid = { version = "1.18.1", features = ["v4", "fast-rng"] }
