[package]
name = "gateway-api"
version = "0.10.0"
description = "Kubernetes Gateway API bindings in Rust"
authors = ["Shane Utt <shaneutt@linux.com>"]
license = "MIT"
keywords = ["kubernetes", "gateway-api"]
categories = ["api-bindings"]
homepage = "https://gateway-api.sigs.k8s.io/"
repository = "https://github.com/kube-rs/gateway-api-rs"
edition = "2021"

[dependencies]
kube = { version = "^0.88.1", default-features = false, features = ["derive"] }
k8s-openapi = { version = "0.23.0" }
schemars = "0.8.21"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.118"
serde_yaml = "0.9.34"
regex = { package = "regex-lite", version = "0.1.6" }
delegate = "0.13.0"
once_cell = "1.19.0"

[dev-dependencies]
anyhow = "1.0.86"
hyper = "0.14.29"
kube = { version = "^0.88.1" }
k8s-openapi = { version = "0.23.0" , features = ["v1_29", "schemars"] }
tokio = { version = "1.38.0", features = ["macros"] }
tower = "0.4.13"
uuid = { version = "1.9.1", features = ["v4", "fast-rng"] }
