[package]
name = "gateway-api"
version = "0.9.0"
description = "Kubernetes Gateway API bindings in Rust"
authors = ["Shane Utt <shaneutt@linux.com>"]
license = "MIT"
keywords = ["kubernetes", "gateway-api"]
categories = ["api-bindings"]
homepage = "https://gateway-api.sigs.k8s.io/"
repository = "https://github.com/kube-rs/gateway-api-rs"
edition = "2021"

[dependencies]
kube = { version = "^0.92.1", default-features = false, features = ["derive"] }
k8s-openapi = { version = "0.21.0", features = ["v1_29", "schemars"] }
schemars = "0.8.16"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
serde_yaml = "0.9.30"

[dev-dependencies]
anyhow = "1.0.79"
hyper = "0.14.28"
kube = { version = "^0.92.1" }
k8s-openapi = { version = "0.21.0" , features = ["v1_29"] }
tokio = { version = "1.35.1", features = ["macros"] }
tower = "0.4.13"
uuid = { version = "1.7.0", features = ["v4", "fast-rng"] }
